{% extends '../base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block title %}Instalaciones{% endblock %}

{% block content %}
<div id="wrapper" class="fade-in">

  <!-- Main -->
  <div id="main">

    <section class="post">
        {% for instalacion in instalaciones %}
          <header class="major">
            <h1>
               {{ instalacion.nom_instalacion }}
            </h1>
          </header>


          <p>{{ instalacion.desc_instalacion|linebreaksbr }}</p>
          <p><i class="far fa-clock"></i> Importe: $ {{instalacion.importe}}</p>
          <img src="{{ MEDIA_URL }}/{{ instalacion.foto }}" height="250px" />
          <br>
          <br>
          <p><a href="{% url 'nueva_reserva' pk=instalacion.pk %}" class="btn btn-primary">Reservar</a></p>

          <hr>

          {% empty %}
            <li>Estamos trabajando en esta página.</li>
        {% endfor %}

    </section>

  </div>


</div>
{% endblock %}
