
{% extends '../base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block title %}Mis Reservas{% endblock %}

{% block content %}
      <a href="{% url 'instalacion_list' %}" class="button">Inicio</a>
      <a href="{% url 'mis_reservas'  %}" class="button">Mis reservas</a>
      <a href="{% url 'mis_cuotas'  %}" class="button">Mis cuotas</a>
      <a href="{% url 'login'  %}" class="button">Cerrar sesión</a>s
<div id="wrapper" class="fade-in">

  <!-- Main -->
  <div id="main">
  <h1>Mis Reservas</h1>
  {% if mis_reservas %}
  <table>

    <tbody>
      <tr>
        <th>Instalacion</th>
        <th>Fecha reserva</th>
        <th>Fecha hora desde</th>
        <th>Fecha hora hasta</th>
        <th>Fecha cancelacion</th>
        <th>Importe</th>
      </tr>

      <section class="post">
          {% for reserva in mis_reservas %}

            <tr>
              <td>{{ reserva.instalacion.nom_instalacion}}</td>
              <td>{{reserva.fecha_reserva}}</td>
              <td>{{reserva.fecha_hora_desde}}</td>
              <td>{{reserva.fecha_hora_hasta}}</td>
              <td>{% if reserva.fecha_cancelacion %}{{reserva.fecha_cancelacion}}{% endif %}</td>
              <td>{{reserva.instalacion.importe}}</td>
              <td><img src="{{ MEDIA_URL }}/{{ reserva.instalacion.foto }}" height="90px" /></td>
              <td>{% if not reserva.fecha_cancelacion %}<a href="{% url 'cancelar_reserva' pk=reserva.pk %}" class="button">Cancelar</a>{% endif %}</td>
            </tr>
          {% endfor %}


      </section>
    </tbody>

  </table>
  {% endif %}

  </div>

</div>

{% endblock %}
