{% extends '../base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block title %}Mis Cuotas{% endblock %}

{% block content %}

<div id="wrapper" class="fade-in">

  <!-- Main -->
  <div id="main">
  <h1>Mis Cuotas</h1>

  {% if mis_cuotas %}
  <table class="table table-striped">
   <thead>

      <tr>
        <th>Mes</th>
        <th>Anio</th>
        <th>Importe</th>
        <th>Fecha pago</th>
      </tr>
      </thead>
      <tbody>
      <section class="post">
          {% for cuota in mis_cuotas %}

            <tr>
              <td>{{ cuota.mes }}</td>
              <td>{{ cuota.anio }}</td>
              <td>{{ cuota.importe }}</td>
              <td>{% if cuota.fecha_pago %}{{ cuota.fecha_pago }}{% else %}Pendiente de Pago{% endif %}</td>
              <td>{% if not cuota.fecha_pago %}<a href="https://mpago.la/2U1DNmU" class="button">Ir a pagar</a>{% endif %}</td>
            </tr>
          {% endfor %}


      </section>
    </tbody>

  </table>
  {% endif %}

  </div>

</div>

{% endblock %}
