{% extends '../base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block title %}Reporte Socios Morosos{% endblock %}

{% block content %}
<div id="wrapper" class="fade-in">
  <!-- Main -->
  <div id="main">
  <h1>Reporte Socios Morosos</h1>

  <table class="table table-striped">
   <thead align="center">

      <tr>
        <th>DNI Socio</th>
        <th>Cantidad de cuotas pendientes</th>
        <th>Deuda</th>
      </tr>
      </thead>
      <tbody>
      <section class="post">
          {% for r in resultado %}
            <tr>
              <td align="center">{{ r.0 }}</td>
              <td align="center">{{ r.2 }}</td>
              <td align="center">$ {{ r.1 }}</td>
            </tr>
          {% endfor %}


      </section>
    </tbody>

  </table>

  </div>
  <a href="http://127.0.0.1:8000/admin/" type="button" class="btn btn-primary">Volver</a>

</div>

{% endblock %}
