{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>

    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>

<body style="background-color: #FAFAFA;">
    <br>
    <div class="container">
        {% block content %} {% endblock %}
        <br>
    </div>
</body>

</html>
